[package]
name = "flamelang-lexer"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
logos.workspace = true
thiserror.workspace = true
